body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #22394D;
}


#content {
  width: 95%;
  margin: 20px;
  padding: 10px;
  background-color: #95C0E5;
  color: white;
  height: 1140px;
  margin-left: 30px;
}

h2 {
  color: #474A59;
}
/*Nav Bar*/
nav {
  position: sticky;
  top: 0;
  background-color: white;
  color: #474A59;
  height: 150px;
}

nav a {
  color: #474A59;
  text-decoration: none;
  height: 20px;
}

#lab1:hover {
  background-color: grey;

}

#lab2:hover {
  background-color: grey;

}

#lab3:hover {
  background-color: grey;

}

#lab4:hover {
  background-color: grey;

}

#lab5:hover {
  background-color: grey;

}

#lab6:hover {
  background-color: grey;

}

#instagram a {
  text-decoration: none;
  color: black;
}

#instagram a:hover {
  text-decoration: underline;
}


img {
  height: 300px;
  width:auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 4px;
}

#lab1 {
background-color: #95C0E5;
width: 50px;
height: 30px;
margin: 20px;
border-radius: 4px;
position: relative;
top: 50px;
text-align: center;

}

#lab2 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 100px;
text-align: center;
}

#lab3 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 200px;
  bottom: 50px;
  text-align: center;
}

#lab4 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 300px;
  bottom: 100px;
  text-align: center;
}

#lab5 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 400px;
  bottom: 150px;
  text-align: center;
}

#lab6 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 500px;
  bottom: 200px;
  text-align: center;
}

#lab7 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 600px;
  bottom: 250px;
  text-align: center;
}

#lab8 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 700px;
  bottom: 300px;
  text-align: center;
}

#lab9 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 800px;
  bottom: 350px;
  text-align: center;
}

#lab10 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 900px;
  bottom: 400px;
  text-align: center;
}

#lab11 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 1000px;
  bottom: 450px;
  text-align: center;
}

#lab12 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 1100px;
  bottom: 500px;
  text-align: center;
}

#lab13 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 1200px;
  bottom: 550px;
  text-align: center;
}

#lab14 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 1300px;
  bottom: 600px;
  text-align: center;
}

#lab15 {
  background-color: #95C0E5;
  width: 50px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  position: relative;
  left: 1400px;
  bottom: 650px;
  text-align: center;
}
